* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Container {
  background-color: #000000;
  width: 40%;
  margin: 40px auto;
  border: #000000 solid 1px;
}
.inputContainer {
  background-color: #000000;
}
.inputContainer input {
  background-color: #000000;
  border: solid 1px #000000;
  color: white;
  width: 100%;
  padding: 10px;
  height: 50px;
  text-align: right;
}
.tableContainer table {
  width: auto;
  margin: 0 auto;
  border-spacing: 25px;
  table-layout: fixed;
}
.tableContainer table td {
  border-radius: 50%;
  border: solid 1px #000000;
  width: 60px;
  text-align: center;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;
  color: white;
  transition: all ease 0.6s;
}
.deletebtn {
  background-color: #a5a5a5 !important;
  color: #000000 !important;
}
.numberBtn {
  color: #ffffff !important;
  background-color: #333333 !important;
}
.operatorBtn {
  color: #ffffff !important;
  background-color: #fe9505 !important;
}
.clearAll {
  border-radius: 9px !important;
}

.deletebtn:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.numberBtn:hover {
  color: #ffffff !important;
  background-color: #514949 !important;
}
.operatorBtn:hover {
  color: #ffffff !important;
  background-color: #a76304 !important;
}
